@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: rgb(90, 88, 88);
    text-align: center;
    font-family: 'Merriweather', serif;
}

h2 {
    color: rgb(63, 74, 239);
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    height: 100vh;
}

.content {
    margin: 20px auto;
    width: 90%;
}

p {
    margin: 10px auto;
}

.testimonials {
    border: 2px solid rgb(90, 88, 88);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.253);
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.OWID{
    margin: 15px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 10px;

}

.Logo_1 {
    text-align: center;
}

.support {
    border: 2px solid rgb(142, 142, 143);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0,253);
}

.header {
    width: auto;
    position: relative;
    border: 0px solid ;
    padding: 10px 10px;
}

nav {
    text-transform: uppercase;    
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.Logo_2 {
    width: 50px;
    height: auto;
    align-items: center;
    border: 1px solid rgb(96, 96, 96);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0,253);
    margin: 0px 20px;
}

.nav-links {
    padding: 28px 0;
    margin: 0 15px;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;   
}

.nav-links li a{
    text-decoration: none;
    color: black;  
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #007bff5e;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

hr {
    height: 3px;
    border-radius: 2px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: rgba(63, 75, 239, 0.588);
}

.contact {
    background-color: rgb(63, 74, 239);
    padding-left: 20%;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 10%;  
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#contact {
    color: aliceblue;
}